<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Responsive Admin Dashboard Design</title>
</head>

<body class="hidden-scroll">
    <div class="container">
        <nav>
            <div class="navigation hidden-scroll" id="navbar">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="logo-apple"></ion-icon>
                            </span>
                            <span class="title">ArchyScript</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="chatbox-outline"></ion-icon>
                            </span>
                            <span class="title">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                            <span class="title">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </span>
                            <span class="title">settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </span>
                            <span class="title">Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </span>
                            <span class="title">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="main hidden-scroll" id="main-page">
            <!-- Top bar -->
            <div class="topbar">
                <div class="toggle" id="navbar-toggler">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <!-- Search bar -->
                <div class="search">
                    <label for="">
                        <input type="text" placeholder="Search Here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- User Image -->
                <div class="user">
                    <img src="./img/spaceX.jpeg" alt="User Image">
                </div>
            </div>

            <!-- cards -->
            <div class="card-box" id="card-box"></div>

            <div class="details">
                <!-- Order data list -->
                <div class="recent-orders">
                    <div class="card-header">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <div class="card-body hidden-scroll">
                        <table>
                            <thead>
                                <tr>
                                    <td> Name </td>
                                    <td> Price ($) </td>
                                    <td> Payment </td>
                                    <td> Status </td>
                                </tr>
                            </thead>
                            <tbody id="recent-orders-table-body"></tbody>
                        </table>
                    </div>
                </div>

                <div class="recent-customers">
                    <div class="card-header">
                        <h2>Recent Customers</h2>
                    </div>

                    <div class="card-body hidden-scroll">
                        <table id="recent-customers-table"></table>
                    </div>
                </div>
            </div>


            <!-- <div class="switch_mode">
          <h6 class=""> Switch Mode </h6>
          <div class=""> 
            <span class=""> Dark Mode </span>          
            <div class="dark_mode_switch"> 
              <input type="checkbox" name="dark_mode_switch" class="dark_mode_switch_checkbox" id="dark_mode_switch" tabindex="0">
              <label class="dark_mode_switch_label" for="dark_mode_switch">
                <span class="dark_mode_switch_inner"></span>
                <span class="dark_mode_switch_switch"></span>
              </label>
            </div>
          </div>
        </div> -->

            <!-- <ion-split-pane content-id="main">
		<ion-menu
			side="start"
			menuId="custom"
			contentId="main"
			class="my-custom-menu"
		>
			<ion-header>
				<ion-toolbar color="tertiary">
					<ion-title>Custom Menu</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-list>
					<ion-item>Menu Item</ion-item>
					<ion-item>Meion-item</ion-item>
					<ion-item>Menu Item</ion-item>
					<ion-item>Menu Item</ion-item>
					<ion-item>Menu Item</ion-item>
				</ion-list>
			</ion-content>
		</ion-menu>
	</ion-split-pane> -->
    </div>
    </main>
    </div>
</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="script.js"></script>

</html>