@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Text:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main-color-light: #287bff;
    --main-color-dark: #051a3a;
    --very-light-color: rgb(255, 255, 255);
    --semi-light-color: #f5f5f5;
    --very-dark-color: #222;
    --semi-dark-color: #999;
    --navbar-width: 300px;
}

body {
    min-height: 100vh;
    overflow-x: scroll;
}

.hidden-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: var(--navbar-width);
    width: 300px;
    height: 100%;
    background: var(--main-color-light);
    border-left: 10px solid var(--main-color-light);
    transition: 0.5s;
    overflow-y: scroll;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--very-light-color);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--very-light-color);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--main-color-light);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--very-light-color);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--very-light-color);
    pointer-events: none;
}


/* main */

.main {
    position: absolute;
    width: calc(100% - (var(--navbar-width)));
    left: var(--navbar-width);
    min-height: 100vh;
    background: var(--very-light-color);
    transition: 0.5s;
    overflow-y: scroll;
}

.main.active {
    width: 80px;
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px 5px 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--semi-dark-color);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user {
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Card box */

.card-box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.card-box .card {
    position: relative;
    background: var(--very-light-color);
    padding: 30px;
    margin: 20px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card-box .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--main-color-light);
}

.card-box .card .card-name {
    color: var(--semi-dark-color);
    font-size: 1.1em;
    margin-top: 5px;
}

.card-box .card .icon-box {
    font-size: 3em;
    color: var(--semi-dark-color);
}

.card-box .card:hover {
    background: var(--main-color-light);
}

.card-box .card:hover .numbers,
.card-box .card:hover .card-name,
.card-box .card:hover .icon-box {
    color: var(--very-light-color);
}


/* Order data list */

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recent-orders {
    position: relative;
    display: grid;
    background: var(--very-light-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.card-header h2 {
    font-weight: 600;
    color: var(--main-color-light);
}

.card-header a.btn {
    position: relative;
    padding: 6px 12px;
    background: var(--main-color-light);
    text-decoration: none;
    color: var(--very-light-color);
    border-radius: 6px;
}

.details .recent-orders .card-body {
    min-height: 500px;
    max-height: 80vh;
    overflow-y: scroll;
}

.details .recent-orders .card-body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .recent-orders table thead td {
    font-weight: 600;
}

.details .recent-orders table tr {
    color: var(--very-dark-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.details .recent-orders table tr:last-child {
    border-bottom: none;
}

.details .recent-orders table tbody tr:hover {
    background: var(--main-color-light);
    color: var(--very-light-color);
}

.details .recent-orders table tr td {
    padding: 10px;
}

.details .recent-orders table tr td:last-child {
    text-align: end;
}

.details .recent-orders table tr td:nth-child(2) {
    text-align: end;
}

.details .recent-orders table tr td:nth-child(3) {
    text-align: center;
}

.status {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--very-light-color);
}

.status.delivered {
    background: #8de02c;
}

.status.pending {
    background: #f9ca3f;
}

.status.return {
    background: #f00;
}

.status.inprogress {
    background: #1795ce;
}

.recent-customers {
    position: relative;
    background: var(--very-light-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details .recent-customers .card-body {
    min-height: 500px;
    max-height: 80vh;
    display: grid;
    overflow-y: scroll;
}

.recent-customers .card-body table tr td:first-child {
    width: 60px;
}

.recent-customers .card-body .img-box {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recent-customers .card-body .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-customers .card-body table tr td {
    padding: 12px 10px;
}

.recent-customers .card-body table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recent-customers .card-body table tr td h4 span {
    font-size: 14px;
    color: var(--semi-dark-color);
}

.recent-customers .card-body table tr:hover {
    background: var(--main-color-light);
    color: var(--very-light-color);
}

.recent-customers .card-body table tr:hover td h4 span {
    color: var(--very-light-color);
}


/* Dark Mode Switch */


/* .dark_mode_switch {
  position: relative; 
  width: 60px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}

.dark_mode_switch_checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.dark_mode_switch_label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 2px solid #999999; 
  border-radius: 20px;
}

.dark_mode_switch_inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}

.dark_mode_switch_inner:before, .dark_mode_switch_inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 20px; 
  padding: 0;
  line-height: 20px;
  font-size: 10px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold;
  box-sizing: border-box;
}

.dark_mode_switch_inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1; 
  color: #FFFFFF;
}

.dark_mode_switch_inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.dark_mode_switch_switch {
  display: block; 
  width: 15px; 
  height: 15px; 
  margin: 4.5px;
  background: #FFFFFF;
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 35px;
  border: 2px solid #999999; 
  border-radius: 50%;
  transition: all 0.3s ease-in 0s; 
}

.dark_mode_switch_checkbox:checked + .dark_mode_switch_label .dark_mode_switch_inner {
  margin-left: 0;
}

.dark_mode_switch_checkbox:checked + .dark_mode_switch_label .dark_mode_switch_switch {
  right: 0px; 
} */


/* Responsive Design */

@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .card-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .recent-orders {
        overflow-x: auto;
    }
    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .card-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-header h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 1001;
    }
    .main.active .toggle {
        color: var(--very-light-color);
    }
}